# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# logs 
.pi/agent/session/

# github skills
.pi/agent/skills/hyprland/.github
.pi/agent/skills/hyprland/.git
.pi/agent/skills/hyprland/.gitignore
.pi/agent/sessions/
